{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Wallpaper</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">


    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontAwesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/light-box.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">


    <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body style="background: #262626">

<nav>
    <div class="logo">
        <a href="index.html">FS<em>Walli</em></a>
    </div>
</nav>


<div style="margin-top: 80px;" class="full-screen-portfolio" id="portfolio">
    <div class="container-fluid">
        {% for category in categories %}
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="media/{{ category.category_thumb }}" data-lightbox="image-1">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="hover-content">
                                    <h1>{{ category.name }} <em></em></h1>
                                    <p>Awesome Wallpapers Goes Here</p>
                                </div>
                            </div>
                            <div class="image">
                                <img style="width: 100%; height: 380px;" src="media/{{ category.category_thumb }}">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"><\/script>')</script>

<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>

<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>


</body>


<footer>
    <div class="container-fluid">
        <div class="col-md-12">
            <p>Copyright &copy; 2018 SHAFAZ Ltd.

                | Designed by Faysal Hossain</p>
        </div>
    </div>
</footer>

</html>